/* ================
    GLOBAL STYLES
  ================= */
:root{
box-sizing: border-box;
margin: 0;
padding: 0;
--primary-text-color: black;
--secondary-text-color: white;
--primary-color: coral;
--secondary-color: khaki;


}

/* ================
    BASE STYLES
  ================= */

#container{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary-color);
    padding: 1.5rem;
    color: var(--primary-text-color);

}







  /* ================
    HEADER STYLES
  ================= */

#header{
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--secondary-text-color);

}




  /* ======================
    NAVIGATION BAR STYLES
  ======================== */





  /* ================
    HOME SECTION
  ================= */
.home-heading, .home-description{
    text-align: center;
    color: var(--secondary-text-color);

}




  /* ================
     ABOUT ME SECTION 
  ==================== */
  