/* ================
    GLOBAL STYLES
  ================= */
:root{
box-sizing: border-box;
margin: 0;
padding: 0;

}

/* ================
    BASE STYLES
  ================= */

#container{
    font-family: 'Times New Roman', Times, serif;
    background-color:coral;
    padding: 1.5rem;

}







  /* ================
    HEADER STYLES
  ================= */

#header{
    background-color:khaki;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    
}




  /* ======================
    NAVIGATION BAR STYLES
  ======================== */