/* ================
    GLOBAL STYLES
  ================= */
:root{
box-sizing: border-box;
margin: 0;
padding: 0;
--primary-text-color: black;
--secondary-text-color: white;
--primary-color: coral;
--secondary-color: khaki;


}

/* ================
    BASE STYLES
  ================= */

#container{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary-color);
    padding: 1.5rem;
    color: var(--primary-text-color);
    font-size: 1rem;

}







  /* ================
    HEADER STYLES
  ================= */

#header{
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    

}




  /* ======================
    NAVIGATION BAR STYLES
  ======================== */

#nav-list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  } 
  
.nav-item{
    list-style: none;
    font-size: 2rem; 
  }

.nav-item a{
    text-decoration: none; 
    color: var(--primary-text-color); 
    transition: color 0.3s ease; 
}

.nav-item a:hover{
    color: var(--seconday-text-color);
}




  /* ================
    HOME SECTION
  ================= */
.home-heading, .home-description{
    text-align: center;
    color: var(--secondary-text-color);
}

.home-description{
    margin-bottom: 4.6875rem;
    font-size: 1.25rem;
}

  /* ================
     ABOUT ME SECTION 
  ==================== */

#about{
    margin-left: 5%;
}


.about-text{
    margin-bottom: .9375rem;
    font-size: 1.25rem;
}

#about-image{
    display: inline;
    margin: 1rem auto;
    max-width: 200px;
    border-radius: 45%;
    margin-left: 10%;
}


 /* ==================
     PROJECTS SECTION 
  ==================== */
#projects{
    text-align: right;
    margin-right: 5%;
}



.projects-heading{
    margin-bottom: 2rem;
    
}